@import '../../assets/scss/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');


#root {
    background-color: $bg-color;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

main{
    margin: 0 auto;
    width: 900px;
    min-height: 100vh;
    width: fit-content;
    // padding-bottom: 10px;
}

header {
    transform: scale(1.1);
    font-weight: 600;
    size: 12px;
}

.skeleton {
    margin-left: 380px;
    opacity: 0.5;
    padding: 2rem;
    margin-bottom: 10px;
}

.logotype {
    margin: 40px calc(50% - 41px);
    height: 80px;
    width: 80px;
}